# Dependencies
node_modules
**/node_modules/
**/dist
**/.turbo
config/tsup.config.bundled*
config/tsup.frameworks.config.bundled*
.next
.cursor
.DS_Store
.gcs_entries
.gclient*
.cipd
.idea
publish-summary.json
**/.svelte-kit
**/*/*.tgz

# Keep all dist folders ignored except the one inside snippet (we need it tracked)
!snippet/dist
